body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

footer {
  background-color: #212429;
  color: white;
  text-align: center;
  font-size: .7em;
  padding: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
}


.navbar {
  margin-bottom: 40px;
}

.book-row {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  list-style: none;
}

.book-row .btn {
  margin-left: 10px;
}