<div class="container">

    <h1>Detalles de {{title}}</h1>

    <hr>

    <p><strong>Sinopsis:</strong> {{description}}</p>
    <p><strong>Autor/a:</strong> {{author}}</p>

    <hr>

    <a href="/libros/listado" class="btn btn-dark">Volver al listado</a>

</div>